---

---

<div class="space-y-3">
  <p class="text-sm/7">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laborum sint,
    explicabo non praesentium, voluptatibus ab ex repellendus consequuntur dicta
    aliquid molestiae delectus tenetur ut, dolor vitae sapiente fuga facere.
  </p>

  <p class="text-sm/7">
    Est voluptatibus, saepe debitis, mollitia praesentium provident dicta quae
    odio sunt fugiat, accusantium esse deserunt quia eaque adipisci! Similique
    odio consectetur non quia natus corporis dolorem alias debitis, dolores
    blanditiis. Harum ad eaque unde soluta ex? Repudiandae temporibus esse vitae
    reprehenderit itaque, aliquid facere rerum id excepturi soluta nisi optio!
    Ipsam excepturi repellendus aliquid iste nisi aliquam magnam modi
    voluptates!
  </p>
</div>
