---
import { Separator } from "../ui/separator";
---

<div class="space-y-1">
  <div class="flex gap-2 items-center">
    <p class="font-bold text-2xl text-neutral-500 dark:text-zinc-700">Skills</p>
    <div class="border-b w-full"></div>
  </div>
  <p>
    I <i>started</i> out as a MERN stack developer (MongoDB, Express, React, Node.js).
    That’s how my journey began. These days, I’ve replaced MongoDB with PostgreSQL
    and React with Next.js. I prefer using server actions or API routes in Next.js
    instead of running a separate Node.js app (its convenient 😂).
  </p>
  <div>
    <!-- typescript -->
    <div class="w-full flex items-start gap-3 mt-5">
      <div
        class="w-10 min-w-10 aspect-square object-cover flex items-center justify-center rounded-md mt-1 md:mt-0"
        style="background-color:#3178C6"
      >
        <img
          src="/typescript.svg"
          width="24"
          height="24"
          alt="A bird."
          class="w-5 aspect-square invert"
        />
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-xl font-bold">Typescript</p>
        <p>
          Typescript for me is like that toxic girlfriend you can’t leave.
          Pretty but has a terrible temper 😂. I disliked it initially, but now
          I can’t start a project without her—she complains a lot, but somehow
          everything just feels safer when she’s around.
        </p>
      </div>
    </div>

    <!-- typescript -->
    <div class="w-full flex items-start gap-3 mt-5">
      <div
        class="w-10 min-w-10 aspect-square object-cover flex items-center justify-center rounded-md mt-1 md:mt-0"
        style="background-color:#3178C6"
      >
        <img
          src="/flutter.svg"
          width="24"
          height="24"
          alt="A bird."
          class="w-5 aspect-square invert"
        />
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-xl font-bold">Flutter</p>
        <p>
          For some reason most of my friends don’t like it, and rather go for
          the wanna-be chill ones like (you know who) 😂. Anyways, if I could
          change career paths, it definitely would be Flutter dev—those folks
          look too happy building UIs like it’s Lego.
        </p>
      </div>
    </div>
  </div>
</div>
