---
import { Separator } from "../ui/separator";
---

<div class="space-y-1">
  <div class="flex gap-2 items-center">
    <p class="font-bold text-2xl text-neutral-500 dark:text-zinc-700">Skills</p>
    <div class="border-b w-full"></div>
  </div>
  <p class="text-sm/7">
    I <i>started</i> out as a MERN stack developer (MongoDB, Express, React, Node.js).
    That’s how my journey began. These days, I’ve replaced MongoDB with PostgreSQL
    and React with Next.js. I prefer using server actions or API routes in Next.js
    instead of running a separate Node.js app. (its convenient 😂)
  </p>
</div>
